In [1]:
import pandas as pd

### Import dataset

In [2]:
dataset = pd.read_csv('datacategorical.csv')

In [3]:
dataset

   Country  Age  Salary Purchased
0   France   33    1000        No
1    Spain   22    1233       Yes
2  Germany   14    4500       Yes
3  Germany   56    3455       Yes
4    Spain   34    5000       Yes
5    Spain   34    3400       Yes
6   France   44    2300        No
7   France   62    2233        No
8   France   23    1222        No

In [4]:
X = dataset.iloc[:,[0,1,2]].values
Y = dataset.iloc[:, 3].values

In [5]:
X

array([['France', 33, 1000],
       ['Spain', 22, 1233],
       ['Germany', 14, 4500],
       ['Germany', 56, 3455],
       ['Spain', 34, 5000],
       ['Spain', 34, 3400],
       ['France', 44, 2300],
       ['France', 62, 2233],
       ['France', 23, 1222]], dtype=object)

In [6]:
Y

array(['No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No'],
      dtype=object)

### Handling categorical data using OneHotEncoder

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
import numpy as np
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [11]:
X

array([[1.0, 0.0, 0.0, 33, 1000],
       [0.0, 0.0, 1.0, 22, 1233],
       [0.0, 1.0, 0.0, 14, 4500],
       [0.0, 1.0, 0.0, 56, 3455],
       [0.0, 0.0, 1.0, 34, 5000],
       [0.0, 0.0, 1.0, 34, 3400],
       [1.0, 0.0, 0.0, 44, 2300],
       [1.0, 0.0, 0.0, 62, 2233],
       [1.0, 0.0, 0.0, 23, 1222]], dtype=object)

In [12]:
Y

array(['No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No'],
      dtype=object)