In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import klib

plt.style.use('seaborn')

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [2]:
df = pd.read_csv('housing.csv')

In [5]:
df.head()

,Crim,Zn,Indus,Chas,Nox,Rm,Age,Dis,Rad,Tax,PtRatio,B,Lstat,Medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [6]:
df.info

<bound method DataFrame.info of         Crim    Zn  Indus  Chas    Nox     Rm   Age     Dis  Rad  Tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     PtRatio       B  Lstat  Medv
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90   5.33  36.2
..       ...     ...    ...   ...
501     21.0  391.99   9.67  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]>

In [7]:
print(f'Jumlah baris : {df.shape[0]}')
print(f'Jumlah kolom : {df.shape[1]}')

Jumlah baris : 506
Jumlah kolom : 14

In [8]:
list_item =[]
for col in df.columns:
    list_item.append([col,df[col].dtype, df[col].isna().sum(), 100*df[col].isna().sum()/len(df[col]),df[col].unique(), df[col].unique()[:4]])
desc_df = pd.DataFrame(data=list_item, columns='Feature Data_type Null_num Null_pct Unique_num Unique_sample'.split())
desc_df

,Feature,Data_type,Null_num,Null_pct,Unique_num,Unique_sample
0,Crim,float64,0,0.0,"[0.00632, 0.02731, 0.02729, 0.03237, 0.06905, ...","[0.00632, 0.02731, 0.02729, 0.03237]"
1,Zn,float64,0,0.0,"[18.0, 0.0, 12.5, 75.0, 21.0, 90.0, 85.0, 100....","[18.0, 0.0, 12.5, 75.0]"
2,Indus,float64,0,0.0,"[2.31, 7.07, 2.18, 7.87, 8.14, 5.96, 2.95, 6.9...","[2.31, 7.07, 2.18, 7.87]"
3,Chas,int64,0,0.0,"[0, 1]","[0, 1]"
4,Nox,float64,0,0.0,"[0.538, 0.469, 0.458, 0.524, 0.499, 0.428, 0.4...","[0.538, 0.469, 0.458, 0.524]"
5,Rm,float64,0,0.0,"[6.575, 6.421, 7.185, 6.998, 7.147, 6.43, 6.01...","[6.575, 6.421, 7.185, 6.998]"
6,Age,float64,0,0.0,"[65.2, 78.9, 61.1, 45.8, 54.2, 58.7, 66.6, 96....","[65.2, 78.9, 61.1, 45.8]"
7,Dis,float64,0,0.0,"[4.09, 4.9671, 6.0622, 5.5605, 5.9505, 6.0821,...","[4.09, 4.9671, 6.0622, 5.5605]"
8,Rad,int64,0,0.0,"[1, 2, 3, 5, 4, 8, 6, 7, 24]","[1, 2, 3, 5]"
9,Tax,int64,0,0.0,"[296, 242, 222, 311, 307, 279, 252, 233, 243, ...","[296, 242, 222, 311]"
10,PtRatio,float64,0,0.0,"[15.3, 17.8, 18.7, 15.2, 21.0, 19.2, 18.3, 17....","[15.3, 17.8, 18.7, 15.2]"
11,B,float64,0,0.0,"[396.9, 392.83, 394.63, 394.12, 395.6, 386.63,...","[396.9, 392.83, 394.63, 394.12]"
12,Lstat,float64,0,0.0,"[4.98, 9.14, 4.03, 2.94, 5.33, 5.21, 12.43, 19...","[4.98, 9.14, 4.03, 2.94]"
13,Medv,float64,0,0.0,"[24.0, 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27....","[24.0, 21.6, 34.7, 33.4]"

### Create dependent and independent variable

In [29]:
data = df.values
X, y = data[:, :-1], data[:, -1]
print(X.shape, y.shape)

(506, 13) (506,)

### Split data into train and test

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)

In [31]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(339, 13) (167, 13) (339,) (167,)

### Fit linear regression model to training Data

In [32]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

### Predict the test data using linear regression model

In [33]:
yhat = model.predict(X_test)

*Evaluating using MAE*

In [34]:
mae = mean_absolute_error(y_test, yhat)
print(f'MAE : {mae}')

MAE : 3.4174722788016645

## Identify outliers in the training dataset

In [35]:
from sklearn.ensemble import IsolationForest
from sklearn.metrics import mean_absolute_error

iso = IsolationForest(contamination=0.1)
yhat = iso.fit_predict(X_train)

### Select all rows that are not outliers

In [36]:
mask = yhat != -1
X_train, y_train = X_train[mask, :], y_train[mask]

### Summarize the shape of the updated training dataset

In [37]:
print(X_train.shape, y_train.shape)

(305, 13) (305,)

### Fit the model

In [38]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

### Evaluate the model

In [39]:
yhat = model.predict(X_test)

### Evaluate predictions

In [40]:
mae = mean_absolute_error(y_test, yhat)
print(f'MAE : {mae}')

MAE : 3.274660222904996